<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subject.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @subject.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @subject.end_time %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
